{% extends 'base.html' %}

{% block content %}

<nav class="navbar sticky-top" style="background-color: #66ccff;">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">{{nama}}</span>
        <a class="btn btn-primary" href="{% url 'wishlist:logout' %}" role="button" style="--bs-btn-bg: #FFFFFF; --bs-btn-color: #3333ff; --bs-btn-hover-bg: #3333ff;--bs-btn-hover-color: #FFFFFF;">Logout</a>
    </div>
</nav>

<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>


{% endblock content %}